@model EReceteAPI.Database.Users

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TckimlikNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TckimlikNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiplomaNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiplomaNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsaglikPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsaglikPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sgksifresi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sgksifresi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MernisSifresi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MernisSifresi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CepTelefonu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CepTelefonu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
